- apt update

- apt install -y wget gnupg2 mysql-server apache2 php php-mysql php-gd php-xml php-bcmath php-mbstring php-ldap

- shell: |
    wget https://repo.zabbix.com/zabbix/6.4/ubuntu/pool/main/z/zabbix-release/zabbix-release_6.4-1+ubuntu22.04_all.deb
    dpkg -i zabbix-release_6.4-1+ubuntu22.04_all.deb
    apt update

- apt install -y zabbix-server-mysql zabbix-frontend-php zabbix-apache-conf zabbix-sql-scripts zabbix-agent

- service:
    name: mysql
    state: started
    enabled: true

- shell: |
    mysql -e "CREATE DATABASE zabbix CHARACTER SET utf8mb4 COLLATE utf8mb4_bin;"
    mysql -e "CREATE USER 'zabbix'@'localhost' IDENTIFIED BY 'zabbix';"
    mysql -e "GRANT ALL PRIVILEGES ON zabbix.* TO 'zabbix'@'localhost';"
    mysql -e "FLUSH PRIVILEGES;"

- shell: |
    zcat /usr/share/zabbix-sql-scripts/mysql/server.sql.gz | mysql zabbix

- lineinfile:
    path: /etc/zabbix/zabbix_server.conf
    regexp: '^# DBPassword='
    line: 'DBPassword=zabbix'

- service:
    name: zabbix-server
    state: started
    enabled: true

- service:
    name: apache2
    state: started
    enabled: true
