---
- name: "Mission 2: Securisation des noeuds RedHat"
  hosts: nodes
  become: yes
  tasks:
    - name: Mise a jour des paquets de securite
      dnf:
        name: '*'
        state: latest

    - name: Desactivation de la connexion SSH en root
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^PermitRootLogin'
        line: 'PermitRootLogin no'

    # --- CORRECTION CRITIQUE POUR LE CLUSTER ---
    - name: Maintenir la confiance sur le réseau privé (Cluster UDP)
      firewalld:
        zone: trusted
        source: 192.168.56.0/24
        permanent: yes
        state: enabled
        immediate: yes

    - name: Configuration du pare-feu (Services Publics)
      firewalld:
        service: "{{ item }}"
        permanent: yes
        state: enabled
        immediate: yes
      loop:
        - ssh
        - http
        - high-availability
        - samba
        - zabbix-agent  # <--- AJOUT IMPORTANT POUR MISSION 4

    - name: Recharger le pare-feu
      service:
        name: firewalld
        state: reloaded