---
# ==========================================
# PARTIE 1 : INSTALLATION SERVEUR (LOCALHOST)
# ==========================================
- name: Mission 4 - Installation Serveur Zabbix
  hosts: localhost
  connection: local
  become: true
  vars:
    z_pass: "zabbix"

  tasks:
    # --- AJOUT : DÉSACTIVATION PARE-FEU UBUNTU ---
    - name: 0. Désactiver le pare-feu UFW pour autoriser le Web
      shell: ufw disable
      ignore_errors: yes

    - name: 1. Télécharger le paquet Zabbix Repo (Ubuntu)
      get_url:
        url: https://repo.zabbix.com/zabbix/6.0/ubuntu/pool/main/z/zabbix-release/zabbix-release_6.0-4%2Bubuntu22.04_all.deb
        dest: /tmp/zabbix.deb

    - name: 2. Installer le dépôt
      apt:
        deb: /tmp/zabbix.deb
        state: present

    - name: 3. Mettre à jour et installer les paquets Zabbix + MariaDB
      apt:
        update_cache: yes
        name:
          - zabbix-server-mysql
          - zabbix-frontend-php
          - zabbix-apache-conf
          - zabbix-sql-scripts
          - zabbix-agent
          - mariadb-server
          - python3-pymysql
        state: present

    - name: 4. Démarrer MariaDB
      service: name=mariadb state=started enabled=yes

    - name: 5. Créer la Base de Données et l'Utilisateur
      shell: |
        mysql -e "CREATE DATABASE IF NOT EXISTS zabbix character set utf8mb4 collate utf8mb4_bin;"
        mysql -e "CREATE USER IF NOT EXISTS 'zabbix'@'localhost' IDENTIFIED BY '{{ z_pass }}';"
        mysql -e "GRANT ALL PRIVILEGES ON zabbix.* TO 'zabbix'@'localhost';"
        mysql -e "FLUSH PRIVILEGES;"
      ignore_errors: yes

    - name: 6. Importer le schéma Zabbix
      shell: |
        zcat /usr/share/zabbix-sql-scripts/mysql/server.sql.gz | mysql --default-character-set=utf8mb4 -uzabbix -p{{ z_pass }} zabbix
      ignore_errors: yes 

    - name: 7. Configurer le mot de passe DB
      lineinfile:
        path: /etc/zabbix/zabbix_server.conf
        regexp: '^# DBPassword='
        line: "DBPassword={{ z_pass }}"

    - name: 8. Redémarrer Zabbix Server et Apache
      service:
        name: "{{ item }}"
        state: restarted
        enabled: yes
      loop:
        - zabbix-server
        - apache2

# ==========================================
# PARTIE 2 : INSTALLATION AGENTS (NODES)
# ==========================================
- name: Mission 4 - Installation Agents sur les Noeuds
  hosts: nodes
  become: true
  
  tasks:
    - name: 1. Installer le dépôt Zabbix (Rocky 8)
      dnf:
        name: https://repo.zabbix.com/zabbix/6.0/rhel/8/x86_64/zabbix-release-6.0-4.el8.noarch.rpm
        state: present
        disable_gpg_check: yes

    - name: 2. Installer l'agent (Force GPG Check OFF)
      dnf:
        name: zabbix-agent
        state: present
        disable_gpg_check: yes

    - name: 3. Configurer l'IP du serveur Zabbix
      lineinfile:
        path: /etc/zabbix/zabbix_agentd.conf
        regexp: '^Server=127.0.0.1'
        line: 'Server=192.168.56.10'

    - name: 4. Configurer ServerActive
      lineinfile:
        path: /etc/zabbix/zabbix_agentd.conf
        regexp: '^ServerActive=127.0.0.1'
        line: 'ServerActive=192.168.56.10'

    - name: 5. Configurer le Hostname
      lineinfile:
        path: /etc/zabbix/zabbix_agentd.conf
        regexp: '^Hostname=Zabbix server'
        line: "Hostname={{ ansible_hostname }}"

    - name: 6. Démarrer l'agent
      service:
        name: zabbix-agent
        state: restarted
        enabled: yes