---
- name: "Mission 1: Haute Disponibilite (HA)"
  hosts: nodes
  become: yes
  tasks:
    - [cite_start]name: Installation des paquets (Pacemaker, Corosync, Nginx, Samba) [cite: 10, 38, 39]
      dnf:
        name: [pacemaker, pcs, corosync, nginx, samba]
        state: present

    - [cite_start]name: Demarrer le service PCSD [cite: 10]
      systemd:
        name: pcsd
        enabled: yes
        state: started

    - name: Definir le mot de passe cluster
      user:
        name: hacluster
        password: "{{ 'admin123' | password_hash('sha512') }}"

    - [cite_start]name: Configuration du Cluster (sur Node01 seulement) [cite: 38]
      shell: |
        pcs host auth node01 node02 -u hacluster -p admin123
        pcs cluster setup mon_cluster node01 node02 --force
        pcs cluster start --all
        pcs property set stonith-enabled=false
      when: inventory_hostname == "node01"
      run_once: true

    - [cite_start]name: Creation de la VIP et des ressources [cite: 40, 41]
      shell: |
        pcs resource create virtual_ip ocf:heartbeat:IPaddr2 ip=192.168.100.100 cidr_netmask=24
        pcs resource create web_server ocf:heartbeat:nginx
        pcs resource group add ha_group virtual_ip web_server
      when: inventory_hostname == "node01"
      run_once: true